doctype html
html()
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Школа
    link(href="{{url_for('static', filename = 'css/bootstrap.css') }}", rel='stylesheet')
    link(href="{{ url_for('static', filename = 'css/style.css') }}", rel='stylesheet')
    link(href="{{ url_for('static', filename = 'css/blog.css') }}", rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic-ext,latin,cyrillic', rel='stylesheet', type='text/css')
  body
    .container
        .row
            h3 Редактирование статьи  - {{ article.name }}
            form(action="{{ url_for('adminEditArticle', category_id = article.category_id , article_id = article.id) }}", method="POST")
                p Name:
                    input(type="text", size="80", name="name", placeholder="{{ article.name }}")
                p Text:
                textarea(rows="10", cols="100", name="text") {{ article.text }}
                input(type="submit", value="Редактировать")
                br
                br
                a(href="{{ url_for('adminCategory', category_id = article.category_id) }}") Отмена
