.container
  .row
    .col-md-6.service
      h2 Электронный Журнал
      p
        | Онлайн журнал учёта успеваемости учеников, просмотра расписания и связи с классным руководителем.
      p
        a.btn.btn-default(href='category/1', role='button') Подробнее »
    .col-md-6.service
      h2 Новости
      p
        | Просмотр новостной ленты о школьной жизни, а также о ярких моментов проводимых во внеурочное время.
      p
        a.btn.btn-default(href='category/2', role='button') Подробнее »
  hr
  .row.row-centered
    .col-md-4.service
      h2 Наша школа
      p
        | Основная информация о школе, преподовательском составе, корпусах, в которых проходят занятия, а также контактные данные и место расположение.
      p
        a.btn.btn-default(href='category/3', role='button') Подробнее »
    .col-md-4.service
      h2 Прямая линия
      p Раздел для просмотра и обращения с вопросами к преподрвательскому составу
      p
        a.btn.btn-default(href='category/4', role='button') Подробнее »
    .col-md-4.service
      h2 Учебная деятельность
      p
        | Здесь хранятся полезные сведения, информация о дополнительных занятиях, кружках и секциях.
      p
        a.btn.btn-default(href='category/5', role='button') Подробнее »